body{
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: url("/Images/background/background.png") no-repeat fixed;
    background-size: cover;
}
.container{
    width: 100%;
    border-radius: 1rem;
    padding: 0.25rem;
    margin: 0 auto;
    width: fit-content;
    border-radius: 1rem;
    box-shadow: 0 0.25rem 1.875rem rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(0.344rem);
    -webkit-backdrop-filter: blur(0.344rem);
}
header{
    margin: 0 auto;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}
header > img{
    margin: 0 auto;
    width: 10rem;
    height: 10rem;
    border-radius: 10rem;
    box-shadow: 0 0.25rem 1.875rem rgba(0, 0, 0, 1.15);
}
header > h1{
    margin: 0 auto;
    display: inline-block;
    font-size: 1.75rem;
    font-weight: bold;
    border-radius: 1rem;
    background-color: #000a;
    color: #fff;
    padding: 0.4rem 0.8rem;
    border: 0.15rem solid pink;
    margin-top: 1.4rem;
}
ul{
    width: 31.25rem;
    height: 39.688rem;
    box-sizing: border-box;
    list-style: none;
    margin: 0 auto;
    padding: 2.84rem;
}
ul > li{
    background: rgba(255, 192, 203, 0.8);
    box-shadow: 0 0.25rem 1.875rem rgba(0, 0, 0, 0.1);
    border-radius: 10rem;
    padding: 0.1rem;
    margin: 1rem 0.5rem;
    border: 0.08rem solid pink;

}
ul > li > a{

    color: #040404;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    justify-content: center;
    
}
li > img{
    margin-left: 11rem;
    display: flex;
}
.texto{
    width: fit-content;
    border-radius: 2rem;
}
textarea{
    overflow-y: hidden;
    font-size: large;
    font-weight: bold;
    background: rgba(254, 192, 204, 0.8);
    border: 0.15rem solid pink;
    border-radius: 0.75rem;
    outline: none;
    padding: 5.6%;
    width: 21.25rem;
    height: 7.5rem;
    resize: none;
}
.TXT-MSG{
    font-weight: bold;
    padding: 0.5rem;
}
input{
    margin-left: 20.75rem;
    border-style: none;
    border: 0.3;
    outline: none;
    border-radius: 10rem;
    padding: 1rem;
    background: none;
    font-weight: bolder;
    font-size: larger;
}
::-webkit-scrollbar{
    width: 0.75rem;
}
::-webkit-scrollbar-track{
    background: #eec4dc;
}
::-webkit-scrollbar-thumb{
    background: #e5a0c6;
    border-radius: 0.313rem;
}
::-webkit-scrollbar-thumb:hover{
    background: rgba(255, 192, 203, 0.8);
}
.nome{
    width: 22.45rem;
    height: 0.938rem;
    padding: 0.75rem;
}       
::placeholder{
    color: #04040460;
}
