body, html
{
    color: #fff;
}

body{
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: url("/images/background.png") center fixed no-repeat;
    background-size: cover;
}

.container{
    border-radius: 1rem;
    padding: 0.25rem;
    margin: 0 auto;
    width: fit-content;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
}

header
{
    margin: 0 auto;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

header > img
{
    margin: 0 auto;
    width: 10rem;
    height: 10rem;
    border-radius: 10rem;
    border: 0.25rem solid pink;


}

header > h1
{
    margin: 0 auto;
    display: inline-block;
    font-size: 1.75rem;
    font-weight: bold;
    border-radius: 1rem;
    background-color: #000a;
    color: #fff;
    padding: 0.4rem 0.8rem;
    border: 0.15rem solid pink;
    margin-top: 1.4rem;
}

ul
{
    width: 500px;
    box-sizing: border-box;
    list-style: none;
    margin: 0 auto;
    padding: 2.84rem;
}

ul > li
{
    background: rgba(255, 192, 203, 0.8);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10rem;
    padding: 0.1rem;
    margin: 1rem 0.5rem;

}

ul > li > a
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.75rem
}

a
{
    color: #000;
    text-decoration: none;
}

li
{
    border: 0.15rem solid pink;
    font-weight: bold;

}

img
{
    margin-bottom: 0.6rem;
    margin-left: 11rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.texto{
    width: fit-content;
    border-radius: 1.75rem;
}

textarea
{
    overflow-y: hidden;
    font-size: large;
    font-weight: bold;
    background: rgba(255, 192, 203, 0.8);
    border: 0.15rem solid pink;
    border-radius: 0.75rem;
    outline: none;
    padding: 1.4rem;
    width: 340px;
    height: 140px;
    resize: none;
}

.a-txt
{
    font-weight: bold;
    padding: 0.5rem;
}

input
{
    margin-left: 20.75rem;
    border-style: none;
    border: 0.3;
    outline: none;
    border-radius: 10rem;
    padding: 1rem;
    background: none;
    font-weight: bolder;
    font-size: larger;
}


            /* Designing for scroll-bar */
            ::-webkit-scrollbar {
                width: 12px;
            }

            /* Track */
            ::-webkit-scrollbar-track {
                background: #eec4dc;
            }

            /* Handle */
            ::-webkit-scrollbar-thumb {
                background: #e5a0c6;
                border-radius: 5px;
            }

            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: rgba(255, 192, 203, 0.8);
            }