body{
    margin-top: 2rem;
    background: url("/Images/background/background.jpg") no-repeat center center fixed;
    background-size: cover;}
::-webkit-scrollbar{
    width: 0.75rem;}
::-webkit-scrollbar-track{
    background: #eec4dc;}
::-webkit-scrollbar-thumb{
    background: #e5a0c6;
    border-radius: 0.313rem;}
::-webkit-scrollbar-thumb:hover{
    background: rgba(255, 192, 203, 0.8);}
.container{
    padding: 0.25rem;
    margin: 0 auto;
    width: fit-content;
    border-radius: 1rem;
    box-shadow: 0 0.25rem 1.875rem rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(0.1rem);}
header{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;}
header > img{
    margin: 0 auto;
    width: 10rem;
    height: 10rem;
    border-radius: 10rem;
    box-shadow: 0 0.25rem 1.875rem rgba(0, 0, 0, 1.15);}
header > h1{
    margin: 0 auto;
    font-size: 1.75rem;
    border-radius: 1rem;
    background-color: pink;
    padding: 0.4rem 0.8rem;
    margin-top: 1.4rem;
    border: 0.1rem solid #000;}
ul{
    width: 31.25rem;
    box-sizing: border-box;
    list-style: none;
    margin-top: -50px;
    padding: 2.84rem;}
ul > li{
    background: pink;
    border-radius: 10rem;
    padding: 0.1rem;
    margin: 1rem 0.5rem;
    border: 0.1rem solid #000;}
ul > li > a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #040404;
    text-decoration: none;
    font-weight: bold;}
li > img{
    margin: 0 auto;
    display: flex;}
.popup{
    visibility: hidden;}
button.open-popup{
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    cursor: pointer;}
.open-popup{
    background-color: pink;
    border-radius: 10rem;}
.main-popup{
    position: absolute;
    height: 22rem;
    width: 22.2rem;
    background: pink;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 1rem;
    padding: 1.875rem 1.563rem;
    padding-bottom: 3.75rem;
    padding-top: 4.375rem;
    border: 0.1rem solid #000;}
.main-popup > a{
    font-size: 20px;
    padding: 1.5rem;
    font-weight: bolder;
    display: flex;
    justify-content: center;}
.qrcode{
    max-width: 436px;  
    height: auto;  
    border-radius: 0.8rem;
    border: 0.2rem solid #000;}
.close-popup{
    top: -0.5rem;
    right: 0.10rem;
    font-size: 1.8rem;
    border-radius: 10rem;
    padding: 0.4rem;
    position: absolute;
    cursor: pointer;}
.close-popup{
    top: -0.5rem;
    right: 0.10rem;
    font-size: 1.8rem;
    border-radius: 10rem;
    padding: 0.4rem;
    position: absolute;
    cursor: pointer;}
#noSelect {
    -webkit-tap-highlight-color: transparent;
    user-select: none;}
.texto{
    border-radius: 2rem;}
.nome{
    width: 22.45rem;
    height: 0.938rem;
    padding: 0.8rem;}
textarea{
    overflow-y: hidden;
    font-size: large;
    font-weight: bold;
    background: pink;
    border-radius: 0.75rem;
    outline: none;
    padding: 1.40rem;
    width: 21.25rem;
    height: 7.5rem;
    resize: none;}
.TXT-MSG{
    font-weight: bold;
    padding: 0.5rem;}
input{
    margin-left: 20.75rem;
    border-style: none;
    outline: none;
    padding: 1rem;
    background: none;
    font-weight: bolder;
    font-size: larger;
}
input.seta:hover{
    color:  #9932CC;}
