@font-face {
    font-family: "JetBrainsMono";
    src: url("/Assets/Font/JetBrainsMono-Bold.ttf");}
*{
    font-family: JetBrainsMono;
    font-size: 20px;
    outline: none;}
html{
    overflow-x: hidden;}
